.filter {
  width: 90vw;
  height: 10vh;
  background-color: #3c00ff;
  margin: 1%;
  border-radius: 40px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.ListPagination {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
